<!--
       HEADER
  -->
  <header class="header {% if this.page.id != 'home' %} active {% endif %}">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="index.html">
                <img src="{{ './assets/img/logo/logo.png'|theme }}" alt="logo">
            </a>

            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="blog.htm">
                            Our blog
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Products
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Solutions
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Customers
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Case studies
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Resources
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            More
                        </a>
                    </li>

                </ul>


            </nav>

            <div class="reg__buttons">
                <button>Book a demo</button>
                <p>Log In</p>
            </div>
        </div>
    </div>
</header>